body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* White background */
    color: #333; /* Dark gray text color */
    line-height: 1.6;
    text-align: center; /* Center-align all content */
}

header {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 20px;
    background-color: white; /* White background for header */
    color: #2e8b57; /* Sea green text color */
    border-bottom: 4px solid #2e8b57; /* Sea green border */
}

.header-content {
    display: flex;
    align-items: center; /* Center align items vertically */
}

.profile-picture {
    border-radius: 50%;
    width: 110px; /* Smaller size for the picture */
    height: 145px;
    border: 2px solid #2e8b57; /* Sea green border */
    margin-right: 15px; /* Space between the image and text */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.profile-picture:hover {
    border-color: #4caf50; /* Lighter green on hover */
}

header h1 {
    margin: 0;
    font-size: 3em; /* Adjust font size as needed */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #fffbfb; /* Light gray background for nav */
    padding: 10px;
    border-bottom: 2px solid #ffffff; /* White border */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2e8b57; /* Sea green text color */
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2em;  /* Smooth transition for text color */
}

nav a:hover {
    color: #39677c; /* Lighter green on hover */
}

nav span {
    margin-left: 15px;
    color: #2e8b57; /* Sea green text color */
}

.experience {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: white; /* White background for experience section */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    color: #333; /* Dark gray text color */
}

.experience h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.experience p {
    font-size: 1.1em;
    margin: 0;
    text-align: justify; /* Justify text for better readability */
}

.experience a {
    color: #2e8b57; /* Sea green text color for links within the experience section */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

.experience a:hover {
    color: #39677c; /* Lighter green on hover */
}
